/* Write GOOD comments so that next developer ( killer psycopath who knows where you stay ) ... */
/* .... who is going to maintain this code; need NOT have to get back to you */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* CSS Universal Selector */
/* Selects all elements on the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selects the root element of the document <html> in the case of HTML */
:root {
  --bg-color: hsl(212, 45%, 89%);
  --card-bg-color: hsl(0, 0%, 100%);
  --card-title-color: hsl(218, 44%, 22%);
  --card-content-color: hsl(220, 15%, 55%);
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/pattern-background-desktop.svg") no-repeat center
    center fixed;
  background-size: cover;
  /* debugging purpose only */
  /* border: 3px dotted red; */
}

.card-container {
  width: 20em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  /* debugging purpose only */
  /* border: 3px dotted green; */
}

.flexbox-item {
  width: 90%;
  margin: 0.5em auto 0.5em auto;
  /* debugging purpose only */
  /* border: 1px dotted blue; */
}

/* style 1st block */
.flexbox-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

.flexbox-image-container img {
  width: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

/* style 2nd block */
.flexbox-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.flexbox-info-container h1 {
  margin-bottom: 1em;
}

.flexbox-info-container p {
  text-align: center;
  line-height: 1.4em;
  font-size: 0.8em;
}

/* style 3rd block */
.flexbox-plan-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 0.5em;
  background-color: aliceblue;
  padding: 1.5em;
}

.flexbox-plan-details-container section:nth-child(1) {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-plan-details-container section:nth-child(1) img {
  width: 70%;
}

.flexbox-plan-details-container section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* logic to reduce space between 2 flex items */
  /* made use of both FF and Chrome dev tool to do trial & error; and achieve desired results */
  width: 9.375em;
  align-items: flex-start;
  font-size: 0.85em;
  height: 100%;
}

.flexbox-plan-details-container section:nth-child(2) p:nth-child(1) {
  font-weight: bold;
  margin-bottom: 0.7em;
}

.flexbox-plan-details-container section:nth-child(3) {
  font-size: 0.75em;
}

/* style 4th block */
.flexbox-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 7em;
}

.flexbox-buttons-container button {
  width: 100%;
  padding: 1em;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 0.5em;
  margin-top: 1em;
}

.flexbox-buttons-container p {
  font-size: 0.75em;
  margin-top: 2em;
  margin-bottom: 3em;
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media (max-width: 420px) {
  .card-container {
    width: 22.5em;
    margin: auto;
  }
}
